body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;        
}

header {
    background-color: white;
    padding: 30px;
    display: flex;
    align-items: center;
    border-bottom: solid #ddd;
}

header ul {
    list-style: none;
    display: flex;
    margin: auto;
}

header ul li {
    margin: 20px;
    font-size: 125%;
}

header ul li a {
    text-decoration: none;
    color: black;
    font-weight:bold;
}

.usuario {
    display: flex;
    align-items: center;
}

.usuario img {
    width: 50px;
    margin-right: 10px;
}.tenis {
    background-color: #E6EDE5;
    margin: 100px 400px;  
    display: flex;
    border-radius: 40vh;
    max-width: 40%;
}

.tenis img {
    width: 1500px;
    transform: rotate(-20deg);
    margin-top: 0%;
}

.detalhes_produto {
    background-color: aqua;
    width: 30%;
    transform: translate(110vh, -40vh);
}

.detalhes_produto h1 {
    font-size: 70px;
}

.detalhes_produto p {
    margin: 20px ;
    font-size: 20;
}
.detalhes_produto button{
    margin-bottom: 100px;
}

.preço {
    font-size: 36px;
    color: red;
}

.detalhes_produto button {
    background-color: #000;
    color: white;
    padding: 20px;
    font-size: 16px;
    border-radius: 40vh;
    display: flex;
}
.palheta_de_cor {
    display: flex;
}

.palheta_de_cor div {
    width: 60px;
    height: 60px;
    border-radius: 85%;
    margin:  5px;
}

.cor-red {
    background-color: red;
}

.cor-black {
    background-color: black;
}

.cor-gray {
    background-color: gray;
}